div {
  background-color: orchid;
  border-radius: 30px;
  width: 200px;
  ul {
    list-style: none;
    display: flex;
    li {
      font-size: 25px;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
  }

}
